body {
	margin: 0;
	padding: 0;
	font: 14pt/1.4 Arial;
}

a {
	text-decoration: none;
}

a img { border: none; }

.clear {
	clear: both;
}

h2, h3, h4 {
	font-weight: normal;
}

#wrapper {
	width: 900px;
	margin: 100px auto;
}

.warning {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	color: #999;
	font-size: 10pt;
	padding: 10px;
}

h1 {
	text-align: center;
	font-size: 30pt;
}

#about {
	font-size: 12pt;
	margin-top: 100px;
}

#kickass {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #888;
}

	#kickass li {
		float: left;
	}
	
		#kickass ol li {
			float: none;
		}
	
	#how-to {
		border-left: 1px solid #ccc;
		margin-left: 40px;
		padding-left: 40px;
		padding-top: 0px;
		width: 300px;
	}
	
		#how-to h2 {
			margin: 0 0 10px;
		}